<%- include("header") %>

    <% if(typeof user==="undefined" ){ %>

        <a href="login">Login here</a>
        <a href="signup">Sign up here</a>
        <% }else { %>
            <div>
                Login success !
            </div>
            <div>
                welcome
                <div>
                    firstName: <%=user.firstName%>
                </div>
                <div>
                    lastName: <%=user.lastName%>
                </div>
                <div>
                    username: <%=user.username%>
                </div>
                <div>
                    email: <%=user.email%>
                </div>
            </div>
            <a href="update">Update</a>
            <% } %>

                <%- include("footer") %>