<h3>welcome <%= name %>! </h3>
    <ul>
        <% hobbies.forEach((item)=>{ %>
            <li>
                <%=item%>
            </li>
            <%}); %>

                <h1>Iterate var x=<%= x %>
                </h1>
                <% for(let i=0; i< x; i++) { %>
                    <p>
                        <%= i %>
                    </p>
                    <% } %>

                        <%- include('usersTbl') %>
    </ul>